[submodule "EASTL2020CORE"]
	path = EASTL2020CORE
	url = https://github.com/dbj-data/EASTL2020CORE.git
[submodule "dbj-fwk"]
	path = dbj-fwk
	url = https://github.com/dbj-data/dbj-fwk.git
[submodule "dbj--simplelog"]
	path = dbj--simplelog
	url = https://github.com/dbj-systems/dbj--simplelog.git
