[submodule "utest"]
	path = utest
	url = https://github.com/DBJDBJ/utest.git
[submodule "ubench"]
	path = ubench
	url = https://github.com/DBJDBJ/ubench.git
[submodule "EASTL2020CORE"]
	path = EASTL2020CORE
	url = https://github.com/dbj-data/EASTL2020CORE.git
[submodule "dbj-fwk"]
	path = dbj-fwk
	url = https://github.com/dbj-data/dbj-fwk.git
